___

<a href='https://www.linkedin.com/in/apoorvadogra/'><img src='AD Logo.png'/></a>
___
<center><em>Python Quick Guide By Apoorva Dogra</em></center>

Numbers

# Numbers and more in Python!

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

## Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Throughout this course we will be mainly working with integers or simple float number types.

Here is a table of the two main types we will spend most of our time working with some examples:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

 
 
Now let's start with some basic arithmetic.

### Basic Arithmetic

In [1]:
# Addition
2+1

3

In [2]:
# Subtraction
2-1

1

In [3]:
# Multiplication
2*2

4

In [4]:
# Division
3/2

1.5

In [2]:
# Floor Division
7//4

1

In [54]:
x=5
y=7
z=x  #5
x=y  #7
y=z 
print(x)
print(y)

7
5

In [98]:
x=5
y=7
my_dic={x:y,y:x}
print(my_dic[x])
print(my_dic[y])

7
5

In [100]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\dogra\anaconda3\lib\site-packages (1.21.5)

In [101]:
import numpy as np

In [106]:
arr

array([1, 2, 3, 4, 5])

In [107]:
print(type(arr))

<class 'numpy.ndarray'>

In [122]:
n=30
if n%2==1:
    print("Weird")
elif n%2==0 and 2<n>5:
    print("Not Weird")
elif n%2==0 and 6<n>20:
    print("Weird")
else:
    print("Not Weird")

Not Weird

Not Weird

In [128]:
a=3
b=2
SUM=a+b
print(SUM)

5

In [132]:
n=3
i<n
for i in range(0,n):
    print(i**2)

0
1
4

In [157]:
year=2020
if year%400==0:
        print(True)
elif year%100==0:
        print(False)
elif year%4==0:
        print(True)
else :
        print(False)

True

In [171]:
A = np.array([1, 2])
B = np.array([3, 4])

In [190]:
from itertools import product
print(list(product([1,2,3],repeat = 2)))


print(list(product([1,2,3],[3,4])))


A = [[1,2,3],[3,4,5]]
print(list(product(*A)))


B = [[1,2,3],[3,4,5],[7,8]]
print(list(product(*B)))

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]
[(1, 3), (1, 4), (2, 3), (2, 4), (3, 3), (3, 4)]
[(1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 3), (3, 4), (3, 5)]
[(1, 3, 7), (1, 3, 8), (1, 4, 7), (1, 4, 8), (1, 5, 7), (1, 5, 8), (2, 3, 7), (2, 3, 8), (2, 4, 7), (2, 4, 8), (2, 5, 7), (2, 5, 8), (3, 3, 7), (3, 3, 8), (3, 4, 7), (3, 4, 8), (3, 5, 7), (3, 5, 8)]

In [167]:
n=1,5,2,3,6,5

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
print(sorted(n)[-2])

In [5]:
for i in range(0,x+1):
    for j in range(0,y+1):
        for k in range(0,z+1):
            if (i+j+k)!=n:
                arr.append([i,j,k])
    print(arr)

[0, 0, 0]
[0, 0, 1]
[0, 0, 2]

[0, 1, 0]
[0, 1, 1]


[1, 0, 0]
[1, 0, 1]

[1, 1, 0]
[1, 1, 2]

In [ ]:
def is_leap(year):
    if year%4==0
    leap = True
    
   
    
    return leap

year = int(input())
print(is_leap(year))

In [113]:
n=19
for i in range(1, n+1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [96]:
x=5
y=7
y=x+y
x=y-x
y=y-x

print(x)
print(y)

7
5

In [46]:
z=x
x=y
print(x)
y=x
print(y)

7
7

In [6]:
# Modulo
7%4

3

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

### Arithmetic continued

In [7]:
# Powers
2**3

8

In [8]:
# Can also do roots this way
4**0.5

2.0

In [9]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [10]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

## Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [11]:
# Let's create an object called "a" and assign it the number 5
a = 5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [12]:
# Adding the objects
a+a

10

What happens on reassignment? Will Python let us write it over?

In [13]:
# Reassignment
a = 10

In [14]:
# Check
a

10

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [15]:
# Check
a

10

In [16]:
# Use A to redefine A
a = a + a

In [17]:
# Check 
a

20

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [18]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [19]:
# Show my taxes!
my_taxes

10.0

In [1]:
10/(5+2j)

(1.7241379310344829-0.6896551724137931j)

In [3]:
bin(25)

'0b11001'

In [11]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i>=j:
            print('*', end='')
    print()

*
**
***
****
*****

In [12]:
n=5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i<=j:
            print('*', end='')
    print()

*****
****
***
**
*

In [15]:
for i in range(1,6):
    for j in range(1,6):
        print((i,j),end='')
    print()

(1, 1)(1, 2)(1, 3)(1, 4)(1, 5)
(2, 1)(2, 2)(2, 3)(2, 4)(2, 5)
(3, 1)(3, 2)(3, 3)(3, 4)(3, 5)
(4, 1)(4, 2)(4, 3)(4, 4)(4, 5)
(5, 1)(5, 2)(5, 3)(5, 4)(5, 5)

In [22]:
bin(102)

'0b1100110'

In [24]:
for i in range(0,11):
    if i % 5 == 0:
        pass
    else 
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [40]:
s='8\u00b2'
s
s.isdecimal()

False

In [39]:
s

'8²'

In [41]:
s.isdigit()

True

In [42]:
s.isnumeric()

True

In [47]:
str1='anshhdy'
sort_str=(sorted(str1))
print(sort_str)

['a', 'd', 'h', 'h', 'n', 's', 'y']

In [51]:
ss= ''.join(sort_str)
print(ss)

adhhnsy

In [54]:
p= "loWEgv"
p.lower()

'lowegv'

In [56]:
card= input('enter card')
card.split()
print(card[-1,-5])

enter card254222355

TypeError: string indices must be integers

In [76]:
m='ABCDCD'
p='CDC'

In [82]:
def count_substring(string, sub_string):
    return(string.find(sub_string))

In [84]:
m.find(sub_string)

2

So what have we learned? We learned some of the basics of numbers in Python. We also learned how to do arithmetic and use Python as a basic calculator. We then wrapped it up with learning about Variable Assignment in Python.

Up next we'll learn about Strings!

In [104]:
arr=np.array([1, 2, 3, 4, 5])

Variable Assignment

Strings

Print Formatting

Lists